<div class="container">
<h1 align="center">About me</h1>

<section class="center"><%= image_tag 'Ma prise.jpg' %></section>
<article class="center description"> Ma première prise en haute mer (special thanks à Régis et son Papa pour l'occasion) </article>
<footer align="center"><%= link_to 'home', root_path , class: "btn btn-xs btn-primary"%></footer>

</div>
