<div class="container" style= "background: #7F94B5; text-align: center; ">
<h1>About me</h1>

<section><%= image_tag 'Ma prise.jpg' %></section>
<article> <p>Ma première prise en haute mer (special thanks à Régis et son Papa pour l'occasion)</p> </article>
<footer><%= link_to 'home', root_path %></footer>

</div>
