<div class="container">
  <footer class="footer">
    <small>
    &copy; 2019 | Tahiti Web Services
    </small>
    <nav>
      <ul>
        <li><%= link_to "À Propos", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
