<div class="container">
  <footer class="footer">
    <small>
    Copyright &copy; Tahiti Web Services
    </small>
    <nav>
      <ul>
        <li><%= link_to "A Propos", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
